<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Minuteman</title>
    <link rel="stylesheet" href="../../build/css/main.css" />
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
  </head>
  <body>
    <section id="initial">
      <div id="splash-content">
        <img id="main-logo" src="../../assets/minuteman-logo.svg" />
        <div class="title-subtitle-combination">
          <h1>Minuteman</h1>
          <h3 class="subtitle">Take meeting minutes like a colonial, not like a tory.</h3>
        </div>
      </div>
      <div class="button-panel">
        <button id="openAgendasList"><i class="fa fa-fw fa-list-alt" aria-hidden="true"></i> Agendas</button>
        <button id="openMeetingsList"><i class="fa fa-fw fa-gavel" aria-hidden="true"></i> Meetings</button>
        <button id="openOrganizationsList"><i class="fa fa-fw fa-sitemap" aria-hidden="true"></i> Organizations</button>
        <button id="openSettings"><i class="fa fa-fw fa-cog" aria-hidden="true"></i> Settings</button>
        <!-- <button id="newMeeting">Start a Meeting</button> -->
        <!-- <button id="openAgenda">Open an Agenda</button> -->
      </div>
    </section>
  </body>

  <script>
    // You can also require other files to run in this process
    require('../src/render-main.js')
  </script>
</html>
