<label class="switch-light switch-material" onclick="">
  <input type="checkbox">
  <strong>{{ title }}</strong>
  <span>
    <span>{{ onOptionTitle }}</span>
    <span>{{ offOptionTitle }}</span>
    <a></a>
  </span>
</label>
