$color-black: rgb(0, 0, 0);
$color-united-nations-blue: rgb(90, 127, 228);
$color-white: rgb(255, 255, 255);
$color-dark-slate-gray: rgba(40, 83, 107, 1);
$color-caribbean-green: rgba(6, 214, 160, 1);
$color-blue-jeans: rgba(84, 198, 235, 1);
$color-silver-pink: rgba(205, 162, 171, 1);
$color-bottle-green: rgba(3, 98, 73, 1);
$color-green-sheen: rgba(117, 169, 175, 1);

$color-black-fourteen-percent: rgba(0, 0, 0, .14);
$color-black-twenty-eight-percent: rbga(0, 0, 0, .28);
$color-black-thirty-six-percent: rgba(0, 0, 0, .36);
$color-black-fifty-percent: rbga(0, 0, 0, .5);
$color-black-seventy-five-percent: rgba(0, 0, 0, .75);

$color-raven: #6d7280;
