@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
body {
  font-family: 'Slabo 27px', serif;
  font-size: 12pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-white;
  font-family: 'Slabo 27px', serif;
  text-shadow: 0 0 4px $color-black;
  -webkit-margin-before: 0;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-size: 16pt;
}

h4 {
  font-size: 12pt;
}

.title-subtitle-combination {
  text-align: center;

  h1 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.subtitle {
  margin-top: 0;
  text-shadow: none;
}
