@import 'fonts';
@import 'colors';

button {
  align-self: center;
  background-color: $color-united-nations-blue;
  border: 0;
  border-radius: 1em;
  color: $color-white;
  font-size: 14pt;
  font-weight: bold;
  line-height: 3em;
  margin: .5em 0;
  padding-left: 1em;
  padding-right: 1em;
  width: 50%;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: $color-blue-jeans;
  }

  &:active {
    background-color: $color-dark-slate-gray;
  }
}

.button-panel {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  height: 25em;
  margin-bottom: 0;
  margin-top: 3em;
}

.small-button {
  font-size: 10pt;
}
